#!/bin/sh

xrdb ~/.xresources &
feh --bg-fill $wallpaper &
#picom --experimental-backend -b &
dunst &
/usr/lib/geoclue-2.0/demos/agent &
redshift &
#redshift-gtk &
#tor &
#nm-applet &
xfce4-power-manager &
eww daemon &
/usr/lib/kdeconnectd &

~/.fehbg &
~/.scripts/screenlayouts/both.sh &
~/.scripts/notifications/battery.sh &
~/.scripts/notifications/mount-notify.sh &
#~/.scripts/notifications/now-playing.sh &
#~/.scripts/notifications/update-notify.sh

#notify-send -t 0 "Don't forget to check your to-do list!"
